<footer class="h-20 bg-[#27282D] flex flex-row justify-between items-center p-6 ">
    <p class="text-white">© 2026 Opoinnova.</p>

    <div class="social flex flex-row mr-12">
        <a href="https://www.instagram.com/opoinnovacv" target="_blank" rel="noopener noreferrer " >
            <img src="./instagram-logo.svg" alt="Instagram" class="h-10 w-10 hover:scale-110 transition"/>
        </a>
    </div>

</footer>